<li class="row list-group-item">
  <div class="col-xs-8">
    <small class="text-muted">
      {{ repo.owner }} /
    </small>
    <strong>
      {{ repo.name }}
    </strong>
  </div>
  <div class="col-xs-3 text-xs-right">
    {{#if cloning}}
    <button class="btn btn-sm btn-info" style="cursor: default; pointer-events: none">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      cloning...
    </button>
    {{/if}}
    {{#if repo.enabled}}
      &nbsp;
      <i class="fa fa-wrench clickable text-muted" data-bind="click: showSettings.bind(null, true)"></i>
    {{/if}}
  </div>
  <div class="col-xs-1">
    <switch class="pull-right" params="checked: repo.enabled" style="margin-top: 5px;"></switch>
  </div>

  {{#if repo.enabled}}
    <repo-settings-modal params="repo: repo, visible: showSettings"></repo-settings-modal>
  {{/if}}
</li>
