{
  "extends": "profiscience",
  "parserOptions": {
    "sourceType": "script",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "require-await": 0
  },
  "globals": [
    "$"
  ]
}
