'use strict'

module.exports = {
  environment: 'development',
  password: '',
  port: 8080,
  host: '0.0.0.0',
  use_https: false,
  log_level: 'info',
  log_file: null,
  log_format: 'text',
  pid_file: null,
  repos_dir: '.repos',
  data_dir: '.data'
}
