<div id="{{guid}}" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <small class="text-muted">
            {{ repo.owner }} /
          </small>
          {{ repo.name }}
        </h4>
      </div>
      <div class="modal-body">
        <div id="log-output">{{{ log }}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
