<errors></errors>
<div class="container">
  <a href="/api/auth/logout" class="pull-right" style="width: 75px">
    <small>
      logout
      &nbsp;
      <i class="fa fa-lock"></i>
    </small>
  </a>
  <div class="text-xs-center">
    <h1 style="padding-left: 75px">Hubbard</h1>
    <h4 class="text-muted">Über Simple GitHub Deployments</h4>
    <br>
    {{#if authenticated}}
      <sync-button></sync-button>
    {{/if}}
  </div>
  <br>
  <br>
  {{#if authenticated}}
    <repo-list></repo-list>
  {{/if}}
  {{#ifnot authenticated}}
    <login params="authenticated: authenticated"></login>
  {{/ifnot}}
</div>
